.pokemon {
 
  flex-basis: 20%;
  width: max-content;
  font-size:x-large;
  letter-spacing: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

img {
 
  width: 200px;
  height: 200px;
  margin-left: 20px;
}


.pokemon:hover{

background-color: bisque;
cursor: pointer;
}

.link{
    color: black;
    text-decoration: none;
}